{% extends "base.html.twig" %}

{% block title %} Votre physique{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{form_row(form.birthday)}}
    {{ form_row(form.gender )}}

    {{ form_row(form.height)}}
    {{ form_row(form.hair_color)}}
    {{ form_row(form.weight)}}
    {{ form_row(form.eyes_color)}}

    <button type="submit" class="btn btn-success mt-4">
        <i class="fas fa-save"> Suivant</i>
        </button>
    {{form_end(form)}}
{% endblock %}