{% extends 'base.html.twig' %}

{% block title %}Editer mon profil {% endblock %}

{% block body %}

<div class="section-physical">
<div class="form">
    <h3 class="align-middle">Partie physique</h3>
    {{form_start(form)}}
    {{form_errors(form)}}

    {{ form_row(form.birthday) }}
    {{ form_row(form.gender) }}
    {{ form_row(form.height) }}
    {{ form_row(form.hair_color) }}
    {{ form_row(form.eyes_color) }}
    {{ form_row(form.weight) }}

    <button type="submit" class="btn btn-primary">Valider </button>
    {{form_end(form) }}
</div>
<hr>

{% endblock %}